.listing {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 1em;
  margin-top: 1em;
  margin-bottom: 1em;
  cursor: pointer;
  font-style: inherit;
  color: inherit;
  text-decoration: inherit;

  &:not(:first-child) {
    margin-left: 1em;
  }
  &:not(:last-child) {
    margin-right: 1em;
  }
}