#header {
  background-color: var(--fourth-color);
  color: white;

  #header-content {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 600px;

    input {
      width: 100%;
    }
  }
}

#listings {
  display: flex;
}